@import "../../../styles/settings.scss";

.root {
  box-shadow: 2px 3.464px 6px $menu-bar-shadow-color;
  background-color: $menu-bar-background;

  :global(.container) > :global(.row) {
    height: 84px;
  }

  .menu {
    display: flex;
    align-self: stretch;

    ul {
      margin: 0;
      padding: 0;
      display: flex;

      li {
        list-style: none;
        display: flex;
        align-items: stretch;
      }
    }

    a {
      color: $menu-bar-links;
      text-transform: uppercase;
      font-size: 12px;
      padding: 1rem;
      text-decoration: none;
      display: flex;
      align-items: center;
      border-top: 4px solid $menu-bar-links-border-top;
      font-weight: 500;
      letter-spacing: 1px;

      &:hover,
      &.active {
        background-color: $manu-bar-active-hover-background;
        color: $menu-bar-active-hover-link;
        border-color: $menu-bar-active-hover-border-color;
      }

      &.active {
        border-color: $menu-bar-active-border-color;
      }
    }
  }
}
