@import "../../../styles/settings.scss";

// .root {
// }

.main {
  background-color: $bottom-bacground;
  color: $botton-text-color;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;

  &:not(.noHover):hover {
    color: #ffffff !important;
    background-color: $botton-hover-background;
    text-decoration: none;
  }
}

.small {
  @extend .main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
}

.outline {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $button-icon-border-color;
  color: $button-icon-color;
  font-size: 13px;
  line-height: 22px;

  &:not(.noHover):hover {
    background-color: $button-icon-hover-background-color;
    color: $button-icon-hover-color;
  }
}
