@import "../../../styles/settings.scss";

.root {
  .panelBar {
    margin-bottom: 30px;
    position: relative;

    :global(.row) > * {
      border-bottom: 4px solid $new-furniture-border-bottom-line;
    }

    .heading {
      position: relative;

      h3 {
        color: $primary;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 38px;
        margin: 0;
        letter-spacing: 1px;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 45px;
        border-bottom: 4px solid $primary;
      }
    }

    .menu {
      text-align: center;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          display: inline-block;
          margin: 0 0.5rem;
          font-weight: 600;

          a {
            color: $new-furniture-nav-text-color;
            position: relative;
            text-decoration: none;
            font-size: 18px;
            display: block;

            &::before {
              content: "";
              position: absolute;
              bottom: -4px;
              left: 0;
              width: 0;
              border-bottom: 4px solid $primary;
              @extend %hover-effect;
            }
            &.active,
            &:hover {
              &::before {
                width: 100%;
              }
            }
          }
        }
      }
    }

    .dots {
      position: absolute;
      right: 0;
      top: 0;

      ul {
        margin: 0;
        padding: 0 1rem 0 1rem;
        list-style: none;
        background-color: $new-furniture-dot-background-color;
        transform: translateY(15px);

        li {
          display: inline-block;
          margin-left: 0.5rem;

          a {
            display: block;
            width: 13px;
            height: 13px;
            border-radius: 6px;
            background-color: $new-furniture-dot-color;
            font-size: 0;
            @extend %hover-effect;

            &.active,
            &:hover {
              background-color: $new-furniture-active-hover-dot-color;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .root {
    .panelBar {
      .menu {
        ul {
          margin-left: -120px;
        }
      }
    }
  }
}

@media (max-width: 767px){
  .root {
    .panelBar {
      .heading {
        h3 {
          font-size: 16px;
        }
      }
      .menu {
        ul {
          li {
            margin: 0 0.2rem;
            a {
              font-size: 14px;
            }
          }
        }
      }

      .dots {
        ul {
          li {
            a {
              width: 10px;
              height: 10px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .root {
    .panelBar {

      .heading {
        h3{
          font-size: 20px;
        }
      }

      .menu {
        margin: 30px 0 0 0;
        padding: 0;

        ul {
          margin-left: -75px;

          li {
            a {
              font-size: 16px;
            }
          }
        }
      }

      .dots {
        top: 45px;
        right : -5px;
        margin: 0;
        padding: 0;
        ul {
          padding-left: 0;
        }
      }
    }
  }
}