@import "../../../styles/settings.scss";

.root {
  background-color: $top-bar-background-color;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      line-height: 55px;

      a {
        color: $top-bar-links-color;
        font-size: 13px;
        @extend %hover-effect; 

        &:hover {
          color: $top-bar-hover-links-color;
          text-decoration: none;
        }
      }
    }
  }

  .topOptions ul li {
    margin-right: 1.5rem;

    .icon {
      margin-left: 5px;
    }
  }

  .topMenu ul li {
    margin-left: 1.5rem;

    .icon {
      margin-right: 5px;
    }
  }
}


@media (max-width: 346px){
  .customCol {
    width: 60%;
    flex: 0 0 auto;
  }
}

@media (max-width: 504px){
 .root {
    ul li {
      line-height: 35px;
      
      a{ 
        font-size: 10px;
      }
    }

    .topOptions ul li {
      margin-right: 0.8rem;
    }

    .topMenu ul li {
      margin-left: 1rem;
      span {
        display: none;
      }
    }
  }
}