$base-padding: 24px;

/*THESE VARIABLES ONLY DESCRIBE THE COLOUR, 
  DO NOT USE THESE VARIABLES IF YOU WANT TO CHANGE THE COLOUR ON THE PAGE.*/

$header-topbar-bg: #434343;
$header-bg: #363636;

$footer-claim-bg: #2a2a2a;
$footer-bg: #363636;

$primary: #d58e32;

$text-color: #2a2a2a;

$form-border-color: #292929;

$secondary-text-color: #fff;
$btn-background: #2a2a2a;


/*-------------------------------------------/*
//USE THESE VARIABLES IF YOU WANT TO CHANGE THE COLOUR ON THE PAGE!!! */

//Button;
$bottom-bacground: $btn-background;
$botton-text-color: $secondary-text-color;
$botton-hover-background: $primary;
$button-icon-color: $text-color;
$button-icon-border-color: $text-color;
$button-icon-hover-color: $secondary-text-color;
$button-icon-hover-background-color: $btn-background;

//Feature Box
$active-icon-color: $secondary-text-color;
$active-icon-background-color: $primary;
$active-icon-border-color: $primary;
$active-text-color: $primary;